@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body{
    background-color:black;
    font-family: "Manrope", sans-serif;
}

.co-working {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.solution {
    margin-top: 160px;
}

.solution .co-working {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}


/* .solution .container_co-working {
    width: 1250px;
} */

.works_desk {
    float: left;
}

.small_title, .gray {
    margin-top: 110px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.7;
    text-transform: uppercase;
    color: #DEDEDE;
}

.co-working_title {

    margin: 0;
    padding-top: 12px;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    width: 600px;

    color: #fff;
}

.solution__img {
    margin-top: 200px;
    margin-right: 200px;
    height: 700px;
    width: 500px;
    object-fit: cover;
    object-position: center;
}